@font-face {
    font-family: "Hack";
    src: url("fonts/Hack-Regular.ttf");
}


/* You can add global styles to this file, and also import other style files */
.cm-s-cobalt.CodeMirror {
    height: inherit;
    font-family: "Hack";
    background: #0c1b2e !important;
}

.cm-s-cobalt .CodeMirror-gutters {
    background: #0c1b2e !important;
    border-right: 1px solid #0c1b2e !important;
}

.CodeMirror-vscrollbar::-webkit-scrollbar {
    width: 5px;
}
 
.CodeMirror-vscrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.CodeMirror-vscrollbar::-webkit-scrollbar-thumb {
  background-color: #001c3a;
  outline: 0px solid #001c3a;
}

.CodeMirror-line  > span{
    padding-left: 5px;
}

split-gutter {
    background-color: #0b1523 !important;
}

.nav-tabs {
    border: 0px;
    background: #0b1523;
}

.nav-tab{
    background: #0b1523;
}

.nav-bar{
    background: #0b1523;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    background-color: #0c1b2e;
    border: 1px solid #0c1b2e;
    color: #a8a8a8;
    font-size:inherit;
    opacity: 1;

}


 .nav-tabs .nav-link.active:hover, .nav-tabs .nav-link.active:focus{
    border-color: #0c1b2e;
    color:#a8a8a8;

}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: #0c1b2e;
    color:#fff;
}


a.nav-link {
    color:#a8a8a8;
    opacity: 0.5;
}

@media only screen and (max-width: 600px) {
    split {
        flex-direction: column !important;
    }
}