<div>
  <ul class="nav nav-tabs">
    <li>

      <div class="heading"><span class="glyphicons glyphicons-edit"></span>Pseudo</div>
    </li>
    <li *ngFor="let pad of pads;index as i" class="nav-item">
      <a class="nav-link show" [class.active]="pad.active" (click)=selecetPad(pad) data-toggle="tab" href="#">Pad
        {{i+1}}</a>
      <span class="glyphicons glyphicons-remove-sign" (click)=deletePad(pad) *ngIf="i > 0"> </span>
    </li>
  </ul>

  <span class="glyphicons glyphicons-plus-sign" (click)=addPad() [style.left]="plusLocation" *ngIf="pads.length < 5">
  </span>

  <div class="right-navs">
    <div ngbDropdown class="d-inline-block item">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{language}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button *ngFor="let language of languages" class="dropdown-item" (click)='onLanguage(language)'>{{language}}</button>
      </div>
    </div>

    <div class="item font-scale">
      <span class="glyphicons glyphicons-font"></span>
      <input type="range" min="1" max="10" value="5" (change)="onFontSliderChange($event)" class="slider" id="myRange">
    </div>

  </div>

</div>


<div class="editor" [style.fontSize]="fontSize">
  <split [direction]="vertical" [gutterSize]="5">
    <split-area size="60">
      <codemirror [showLine]="true" [language]="language" ></codemirror>
    </split-area>
    <split-area size="40" class="compiler">
      <div class="compiler-nav">
        <span class="glyphicons glyphicons-play" (click)="run()" [hidden]="running"> </span>
        <span class="loading" [hidden]="!running"></span>
          <div class="result" [hidden]="running">
            <pre>{{runResult.stdout}} </pre> 
            <pre [ngClass]="{'err': runResult.stderr}">{{runResult.stderr}} </pre>
          </div>
      </div>
    </split-area>
  </split>
</div>

<nav class="navbar navbar-expand-lg navbar-dark">

</nav>
