.editor {
  flex: 2;
  display:flex;
}

codemirror {
  height: 100%;
  flex: 2;
}

.navbar {
  flex: 1;
  max-height: 10px;
  background-color: #0b1523;
}

.navbar.top {
  max-height: 10px;

}


.navbar-brand {
  color: #607D8B;
  font-weight: bold;
}

.glyphicons {
  color: #a8a8a8;
}

.glyphicons-plus-sign {
  position: absolute;
  top: 7px;
  left: 275px;
  color: #c87f0a;
  cursor: pointer;
}

.glyphicons-remove-sign {
  position: absolute;
  position: absolute;
  top: 7px;
  color: #e74c3c;
  cursor: pointer;
  display: none;
}


.nav-item:hover .glyphicons-remove-sign {
  display: inline-block;
}

.heading {
  font-weight: bold;
  padding-top: 7px;
  padding-right: 60px;
  padding-left: 5px;
  font-size: large;
  color: #a8a8a8;
}



.glyphicons-edit {
  top: -3px;
  position: relative;
}

.right-navs {
  position: absolute;
  right: 0px;
  width: 250px;
  height: 30px;
  top: 7px;
  cursor: pointer;
  color: #002242;
}

.right-navs .item {
  display: inline-block;
  margin-left: 10px;
  position: relative;
  top: -5px;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 75px;
  height: 2px;
  background: #a8a8a8;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: #c87f0a;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #c87f0a;
  cursor: pointer;
}

split-area {
  background-color: #003154
}

.compiler .nav {
  margin: 5px;
}

.btn-outline-primary {
  color: #a8a8a8;
  border-color: #0b1523;
  background-color: #0b1523;
}

.dropdown-menu.show {
  background: #0b1523;
}

.btn-outline-primary.dropdown-toggle {
  background-color: #0b1523;
  border-color: #0b1523;
}


.glyphicons-play {
  font-size: 2em;
  color: #c87f0a;
  cursor: pointer;
  margin-left: 15px;
  z-index:100;
}

.loading {
  background-image: url(../../../styles/fonts/loading.svg);
  width: 100px;
  height: 30px;
  background-size: 50%;
  background-repeat: no-repeat;
}

.compiler-nav {
  height: 100%;
  background-color: #0c1b2e;
}

.compiler-nav>span {
  display: inline-block;
}


.result {
  padding: 25px;
  color: #18bc9c;
  overflow:auto;
  height: 500px;

}
pre {
    color: #18bc9c;
}
pre.err {
  color: #c34032;
}


@media only screen and (max-width: 600px) {

  .right-navs .font-scale,
  .glyphicons-plus-sign {
    display: none;
  }

  .right-navs {
    width: 150px;
  }

  .editor {
    flex-direction: column;
  }
}
